<div class="container">

    <div class="layout-main">

        <p-toolbar styleClass="mb-4">
            <div>
                <p>Welcome </p>
            </div>

            <ng-template pTemplate="right">
                <button pButton class="mr-4 p-button-primary" (click)="send()" type="button"
                    label="Save Details"></button>
                <button pButton pRipple icon="pi pi-power-off" routerLink="['']" class="p-button-danger"></button>
            </ng-template>
        </p-toolbar>


        <div class="grid p-fluid">
            <div class="col-12">
                <div class="card">
                    <h5>Enter Tokken Number</h5>
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input type="text" [(ngModel)]="tokken" (keyup.enter)="searchByToken()" pInputText />
                    </span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="grid">
                <div class="col-12 md:col-4">
                    <app-applicant-detail></app-applicant-detail>
                </div>
                <div *ngIf="this.applicant" class="col-12 md:col-8">
                    <router-outlet></router-outlet>
                </div>

            </div>

        </div>
    </div>

</div>
