<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Applicant Details</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="name">Name</label>
                    <input pInputText id="name1" [(ngModel)]="this.currentApplicant.name" (change)="updateFields()"
                        type="text" />
                </div>
                <div class="field">
                    <label htmlFor="applicantId">Applicant Id</label>
                    <input pInputText id="applicantId" type="text" [(ngModel)]="this.currentApplicant.applicantId"
                        disabled />
                </div>

                <div class="field">
                    <label htmlFor="serialNumber">SerialNumber</label>
                    <input pInputText id="serialNumber" (change)="updateFields()"
                        [(ngModel)]="this.currentApplicant.serialNumber" type="text" />
                </div>
                <div class="field">
                    <label htmlFor="tokken">Tokken</label>
                    <input pInputText id="tokken" type="text" (change)="updateFields()"
                        [(ngModel)]="this.currentApplicant.tokken" />
                </div>

            </div>
        </div>
    </div>

    <div class=" col-12">
        <div class="card p-fluid">

            <app-eight-checkbox></app-eight-checkbox>

            <!-- Behaviour -->
            <app-behaviour-checkbox></app-behaviour-checkbox>
            <!-- Behaviour Ends -->

            <!-- TRAFFIC LIGHT -->

            <app-traffic-checkbox></app-traffic-checkbox>

            <!-- TRAFFIC LIGHT ENDS -->

            <!-- RAMP  -->
            <app-ramp-checkbox></app-ramp-checkbox>
            <!-- RAMP ENDS -->

            <!-- L-parking -->
            <app-lparking-checkbox></app-lparking-checkbox>
            <!-- L-parking Ends -->
            <button pButton label="Update" [disabled]="!this.currentApplicant.applicantDetails"
                (click)="update()"></button>

        </div>
    </div>
</div>
