<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Applicant Details</h5>
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="name">Name</label>
                    <input pInputText id="name1" type="text" />
                </div>
                <div class="field">
                    <label htmlFor="applicantId">Applicant Id</label>
                    <input pInputText id="applicantId" type="text" disabled />
                </div>

                <div class="field">
                    <label htmlFor="serialNumber">SerialNumber</label>
                    <input pInputText id="serialNumber" type="text" />
                </div>
                <div class="field">
                    <label htmlFor="tokken">Tokken</label>
                    <input pInputText id="tokken" type="text" />
                </div>

            </div>
            <button pButton label="Update"></button>
        </div>
    </div>

    <div class=" col-12 md:col-6">
        <div class="card p-fluid">
            <h5>Eight Pattern</h5>
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="San Francisco" [(ngModel)]="valCheck" id="sf">
                        </p-checkbox>
                        <label for="sf">San Francisco</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="valCheck" id="la">
                        </p-checkbox>
                        <label for="la">Los Angeles</label>
                    </div>
                </div>
            </div>

            <!-- Behaviour -->
            <h5>Behaviour</h5>
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="San Francisco" [(ngModel)]="valCheck" id="sf">
                        </p-checkbox>
                        <label for="sf">San Francisco</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="valCheck" id="la">
                        </p-checkbox>
                        <label for="la">Los Angeles</label>
                    </div>
                </div>
            </div>
            <!-- Behaviour Ends -->
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <!-- TRAFFIC LIGHT -->
            <h5>Traffic Light</h5>
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                        <label for="sf">San Francisco</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="valCheck" id="la"></p-checkbox>
                        <label for="la">Los Angeles</label>
                    </div>
                </div>
            </div>
            <!-- TRAFFIC LIGHT ENDS -->

            <!-- RAMP  -->
            <h5>Ramp</h5>
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                        <label for="sf">San Francisco</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="valCheck" id="la"></p-checkbox>
                        <label for="la">Los Angeles</label>
                    </div>
                </div>
            </div>
            <!-- RAMP ENDS -->

            <!-- L-parking -->
            <h5>L Parking</h5>
            <div class="grid formgrid">
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                        <label for="sf">San Francisco</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="valCheck" id="la"></p-checkbox>
                        <label for="la">Los Angeles</label>
                    </div>
                </div>
            </div>
            <!-- L-parking Ends -->
            <button pButton label="Update"></button>
        </div>
    </div>
</div>
