<div class="card">
    <h5>Eight Pattern</h5>
    <div class="grid formgrid">
        <div class="col-12 md:col-4">
            <div class="field-checkbox">
                <p-checkbox name="group1" [binary]="true" [(ngModel)]="userEightPattern.lineTouch" id="ny">
                </p-checkbox>
                <label for="ny"> Line Touch (-5 ) </label>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="field-checkbox">
                <p-checkbox name="group1" [binary]="true" [(ngModel)]="userEightPattern.poleTouch" (onChange)="print()"
                    id="sf">
                </p-checkbox>
                <label for="sf"> Pole Touch (-5) </label>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="field-checkbox">
                <p-checkbox name="group1" [binary]="true" [(ngModel)]="userEightPattern.fail" id="la"></p-checkbox>
                <label for="la"> Fail </label>
            </div>
        </div>
    </div>
</div>
