<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedapplicants()"
                            [disabled]="!selectedApplicant || !selectedApplicant.length"></button>
                    </div>
                </ng-template>

                <div>
                    <p>Welcome User</p>
                </div>

                <ng-template pTemplate="right">
                    <button pButton pRipple icon="pi pi-upload" class="p-button-help mr-2"
                        (click)="dt.exportCSV()"></button>
                    <button pButton pRipple icon="pi pi-power-off" class="p-button-danger"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="applicants" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['applicantId','name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedApplicant" selectionMode="multiple" [rowHover]="true"
                dataKey="applicant.applicantId">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage applicants</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="applicantId">Applicant Id <p-sortIcon field="applicantId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>Photo</th>
                        <th pSortableColumn="price">Serial Number <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Tokken <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-applicant>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="applicant"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Applicant Id</span>
                            {{applicant.applicantId || applicant.applicantId}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{applicant.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/applicant/' + applicant.photo" [alt]="applicant.name"
                                width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Serial Number</span>
                            {{applicant.serialNumber}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Token</span>
                            {{applicant.tokken}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editapplicant(applicant)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteapplicant(applicant)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="applicant Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/applicant/' + applicant.image" [alt]="applicant.image" width="150"
                    class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="applicant.image">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="applicant.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !applicant.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !applicant.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="id">Aplicant Id</label>
                    <input type="text" pInputText id="name" [(ngModel)]="applicant.id" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !applicant.id}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !applicant.id">Name is required.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Serial Number</label>
                        <p-inputNumber id="price" [(ngModel)]="applicant.serialNumber" mode="currency" currency="USD"
                            locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Token</label>
                        <p-inputNumber id="quantity" [(ngModel)]="applicant.tokken"></p-inputNumber>
                    </div>
                </div>

                <div class="field">
                    <p-fileUpload name="myfile[]" [(ngModel)]="applicant.photo" url="./upload.php" capture="camera"
                        accept="image/*" [maxFileSize]="5000000" [showCancelButton]="false">
                    </p-fileUpload>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !applicant.name">Name is required.</small>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveapplicant()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="applicant">Are you sure you want to delete <b>{{applicant.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected applicants?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
