<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <div>
                    <p>Welcome User</p>
                </div>


                <button pButton pRipple icon="pi pi-power-off" [routerLink]="'/'" (click)="logout()"
                    class="p-button-danger"></button>
            </p-toolbar>

        </div>


    </div>

    <div class="grid p-4">
        <div class="col-12">
            <div class="card">
                <h5>Enter Tokken Number</h5>
                <span class="p-input-icon-right">
                    <i class="pi pi-search" (click)="getByTokken()"></i>
                    <input type="text" [(ngModel)]="tokken" (keyup.enter)="getByTokken()" pInputText />
                </span>
            </div>
        </div>
    </div>
    <div class="grid p-4" *ngIf="this.applicant">
        <div class="card col-12 m-2 lg:col-4">

            <p>Name : {{this.applicant.name}}</p>
            <p>Applicant ID : {{this.applicant.applicantId}} </p>
            <p>Serial Number : {{this.applicant.serialNumber}}</p>
            <p>Tokken : {{this.applicant.tokken}}</p>
        </div>

        <div class="card col-12 m-2 lg:col-4">
            <h5>Eight Pattern</h5>
            <p *ngIf="this.applicant.applicantDetails?.eightPattern?.lineTouch">Line touch (-5) </p>
            <p *ngIf=" this.applicant.applicantDetails?.eightPattern?.poleTouch">Pole Touch (-5) {{
                this.applicant.applicantDetails?.eightPattern?.poleTouch }} </p>
            <p *ngIf="this.applicant.applicantDetails?.eightPattern?.fail">Fail </p>
        </div>

        <div class="card col-12 m-2 lg:col-4">
            <h5>Behaviour</h5>
            <p> Negative Points <span *ngIf="this.applicant.applicantDetails?.behaviourPattern?.first">-3</span>
                <span *ngIf="this.applicant.applicantDetails?.behaviourPattern?.second">, -4</span>
                <span *ngIf="this.applicant.applicantDetails?.behaviourPattern?.third">, -3</span>
            </p>
            <p *ngIf="this.applicant.applicantDetails?.behaviourPattern?.fail">Fail</p>
            <p>{{this.applicant.applicantDetails?.behaviourPattern?.failRemarks}}</p>
        </div>

        <div class="card col-12 m-2 lg:col-4">
            <h5>Traffic Lights</h5>
            <p *ngIf="this.applicant.applicantDetails?.trafficLightPattern?.uTurn">U Turn (-10)</p>
            <p *ngIf="this.applicant.applicantDetails?.trafficLightPattern?.trafficLight">Traffic Lights (-15)</p>
            <p *ngIf="this.applicant.applicantDetails?.trafficLightPattern?.fail">Fail</p>
        </div>

        <div class="card col-12 m-2 lg:col-4">
            <h5>Ramp Challenge</h5>
            <p *ngIf="this.applicant.applicantDetails?.rampPattern?.breakerOne">First Breaker (-5)</p>
            <p *ngIf="this.applicant.applicantDetails?.rampPattern?.breakerTwo">Second Breaker (-5)</p>
            <p *ngIf="this.applicant.applicantDetails?.rampPattern?.fail">Fail</p>
            <p>{{this.applicant.applicantDetails?.rampPattern?.failRemarks}}</p>
        </div>

        <div class="card col-12 m-2 lg:col-4">
            <h5>L parking</h5>
            <p *ngIf="this.applicant.applicantDetails?.lParkingPattern?.onceForwarded">Once Forwarded (-10)</p>
            <p *ngIf="this.applicant.applicantDetails?.lParkingPattern?.lineTouchFail">Line touch fail</p>
            <p *ngIf="this.applicant.applicantDetails?.lParkingPattern?.fail">Fail</p>
        </div>


        <div class="col-12 ">
            <div class="card">
                <h5>Pass Status</h5>
                <p-selectButton [options]="passOptions" [(ngModel)]="passStatus" optionLabel="name">
                </p-selectButton>

                <hr>
                <button pButton (click)="update()">Submit</button>

            </div>
        </div>

    </div>

</div>
